﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ResultURL.ascx.cs" Inherits="Scorecard.Controls.ResultUrl" %>

<asp:HiddenField ID="hiddenResult" runat="server" />
<asp:Literal runat="server" ID="url"></asp:Literal>